<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Live</title>
       <link rel="stylesheet" href="../static/css/style_monitor.css">
    </head>
    <body>
        <table>
            <td>
                <canvas id="inputCanvas"></canvas>
                <div style="width:252px;background-color:black;padding:2px">
                    <button class="bStanby" id="playSwitch" style="width:90px">Run</button>
                    <span>total</span>
                    <span id="total" style="display:inline;width:60px;color:RGB(255,177,3)"></span>
                    <span>clear</span>
                    <!-- <span id="clear_speed" style="color:RGB(255,177,3)"></span> -->
                    <input id="clear_speed_input" type="number" value="8" min="0" max="10" style="color:RGB(255,177,3);display:inline;width:32px;background-color:black;border:none">
                </div>
            </td>
            <td>
                <div id="latent_display"></div>
            </td>
        </table>
        
      <!-- <div class="space" style="width:100px;height:600px"></div> -->
      <!-- <div class="display">
          <canvas class="drawPad">
           -->
      <!-- </canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><br>
      <canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><br>
      <canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><br>
      <canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><canvas class="drawPad"></canvas><br> -->

              
        <!-- <div class="space" style="width:100px;height:600px"></div> -->
      <!-- </div> -->
        
      <script lang="text/javascript" src="../static/js/jquery-3.2.1.slim.min.js"></script>
      <script lang="text/javascript" src="../static/js/simple-serial.min.js"></script>
      <script lang="text/javascript" src="../static/js/socket.io.min.js"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>